@{
	ViewData["Title"] = "Projeto";
	Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div role="main" class="main">

	<section class="page-header page-header-modern bg-color-grey page-header-md ">
		<div class="container-fluid">
			<div class="row align-items-center">

				<div class="col">
					<a href="#" class="portfolio-prev text-decoration-none d-block appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="d-flex align-items-center line-height-1">
							<i class="fas fa-arrow-left text-dark text-4 me-3"></i>
							<div class="d-none d-sm-block line-height-1">
								<span class="text-dark opacity-4 text-1">PREVIOUS PROJECT</span>
								<h4 class="font-weight-bold text-3 mb-0">Okler Website Design</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col">
					<div class="row">
						<div class="col-md-12 align-self-center p-static order-2 text-center">
							<div class="overflow-hidden pb-2">
								<h2 class="text-dark font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">Porto Branding</h2>
							</div>
						</div>
						<div class="col-md-12 align-self-center order-1">
							<ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
								<li><a href="#">Home</a></li>
								<li><a href="#">Portfolio</a></li>
								<li class="active">Gallery</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col">
					<a href="#" class="portfolio-next text-decoration-none d-block float-end appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="d-flex align-items-center text-end line-height-1">
							<div class="d-none d-sm-block line-height-1">
								<span class="text-dark opacity-4 text-1">NEXT PROJECT</span>
								<h4 class="font-weight-bold text-3 mb-0">Porto Admin Dev</h4>
							</div>
							<i class="fas fa-arrow-right text-dark text-4 ms-3"></i>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>

	<div class="container py-4">

		<div class="row">
			<div class="col" style="min-height: 250px;">

				<div class="row portfolio-list lightbox" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
					<div class="col-12 col-sm-6 col-lg-3 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="200">
						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="~/img/projects/project-1.jpg" class="img-fluid border-radius-0" alt="">
									<span class="thumb-info-action">
										<a href="~/img/projects/project-1.jpg" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="600">
						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="~/img/projects/project-25.jpg" class="img-fluid border-radius-0" alt="">
									<span class="thumb-info-action">
										<a href="~/img/projects/project-25.jpg" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 appear-animation" data-appear-animation="expandIn">
						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="~/img/projects/project-3.jpg" class="img-fluid border-radius-0" alt="">
									<span class="thumb-info-action">
										<a href="~/img/projects/project-3.jpg" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="400">
						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="~/img/projects/project-1-2.jpg" class="img-fluid border-radius-0" alt="">
									<span class="thumb-info-action">
										<a href="~/img/projects/project-1-2.jpg" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="row pt-4 mt-2 mb-5">
			<div class="col-md-7 mb-4 mb-md-0">

				<div class="overflow-hidden mb-2">
					<h2 class="text-color-dark font-weight-normal text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">Project <strong class="font-weight-extra-bold">Description</strong></h2>
				</div>

				<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

				<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">Donec volutpat nibh sit amet libero ornare non laoreet arcu luctus. Donec id arcu quis mauris euismod placerat sit amet ut metus. Sed imperdiet fringilla sem eget euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

				<hr class="solid my-5">

				<strong class="text-uppercase text-1 me-3 text-dark float-start position-relative top-2">Share</strong>
				<ul class="social-icons">
					<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
					<li class="social-icons-x"><a href="http://www.x.com/" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a></li>
					<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>

			</div>
			<div class="col-md-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1400">
				<h2 class="text-color-dark font-weight-normal text-5 mb-2">Project <strong class="font-weight-extra-bold">Details</strong></h2>
				<ul class="list list-icons list-primary list-borders text-2">
					<li><i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Client:</strong> Okler Themes</li>
					<li><i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Date:</strong> January 2024</li>
					<li><i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Skills:</strong> <a href="#" class="badge badge-dark badge-sm rounded-pill px-2 py-1 ms-1">DESIGN</a><a href="#" class="badge badge-dark badge-sm rounded-pill px-2 py-1 ms-1">BRAND</a><a href="#" class="badge badge-dark badge-sm rounded-pill px-2 py-1 ms-1">WEBSITES</a></li>
					<li><i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Project URL:</strong> <a href="#" target="_blank" class="text-dark">http://www.okler.net</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>