@{
	ViewData["Title"] = "Blog";
	Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div role="main" class="main">

	<section class="page-header page-header-modern bg-color-grey page-header-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="font-weight-bold text-dark">Assuntos</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="#">Home</a></li>
						<li class="active">Pages</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container pt-3 pb-2">

		<div class="row pt-2">
			<div class="col-lg-3 position-relative">
				<aside class="Assuntos" id="Assuntos" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

					<h5 class="font-weight-semi-bold">Introdução</h5>
					<ul class="nav nav-list flex-column mb-5">
						<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">First</a></li>
						<li class="nav-item">
							<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">Second</a>
					
						</li>
						<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Third</a></li>
						<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Fourth</a></li>
					</ul>

				</aside>
			</div>
			<div class="col-lg-9">

				<div id="first">
					<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold">Tecnologia da informação</strong></h2>
					<p>Vamos ver se estou sabendo fazer.</p>
					<p class="mb-0"><a href="~/Blog/Tecnologia" class="btn-flat btn-xs text-color-black"><strong class="text-2">VEJA MAIS</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>


				</div>

				<div id="second">
					<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold">Reserva Cognitiva</strong></h2>
					<p>Sobre a cognição e aprofundamento no assunto</p>

				</div>


				<div id="third">
					<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold">Politica </strong></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
				</div>

				<div id="Fouth">
					<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold">Ciência</strong></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
				</div>


			</div>

		</div>

	</div>

</div>

